{% extends 'ibge/base.html' %}

{% block title %}Estados{% endblock title %}

{% block content %}
<div class="container">
    <h2>Região selecionada: {{ regiao_selecionada }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            
                {% for indice, estado in estados.items %}
                    {% if regiao_selecionada == estado.regiao.nome %}
                    <tr>
                        <td>
                            {{ estado.sigla }}
                        </td>
                        <td>
                            {{ estado.nome }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}