{% extends 'ibge/base.html' %}

{% block title %}Estados{% endblock title %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Estado</th>
                <th>Região</th>
            </tr>
        </thead>
        <tbody>
            {% for indice, estado in estados.items %}
            <tr>
                <td>
                    {{ estado.sigla }}
                </td>
                <td>
                    {{ estado.nome }}
                </td>
                <td>
                    {{ estado.regiao.nome }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}