{% extends 'ibge/base.html' %}

{% block title %}IBGE{% endblock title %}

{% block content %}

<div class="container">
  <form action="{% url 'estados' %}" method="get">
    {% csrf_token %}
    <select name="regi" id="regi">
      <option value="brasil">Brasil</option>
      {% for indice, regioes in regioes.items %}
      <option value="{{ regioes.nome }}">{{ regioes.nome }}</option>
      {% endfor %}
    </select>
    <button type="submit">Pesquisar</button>
  </form>
</div>
{% endblock content %}